<div class="panel panel-primary slideDown" style="visibility: hidden;">
	<div class="panel-heading"><h3><strong>2. Select an advisor</strong></h3></div>
	<div class="panel-body">
		<p>Choose an advisor from the list below</p>
        <select id="adviser" class="form-control">
        	<option value="-1" selected>-- Select One --</option>
        	{{#each this}}
            <option value="{{id}}">{{fname}} {{lname}}</option>
            {{/each}}
        </select>
	</div>
</div>
