<div id="advisors-panel" class="panel panel-default slideDown" >
    <div class="panel-heading">
        <h4 class="panel-title">
            2. Select an advisor
        </h4>
    </div>
    <div class="panel-body">
        <div class="inner-well-padding">
            <p>Choose an advisor from the list below</p>
            <select id="adviser" class="form-control">
                <option selected disabled>-- Select One --</option>
                {{#each this}}
                <option value="{{id}}">{{fname}} {{lname}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>