<div id="confirmation-panel" class="panel panel-default slideDown" >
    <div class="panel-heading">
        <h4 class="panel-title">
            4. Confirmation
        </h4>
    </div>
    <div class="panel-body">
        <div class="inner-well-padding">
            <p>Your appointment(s) were created!</p>
            <p>Please review the details below</p>
  
        </div>
    </div>
</div>