<div id="calendar-panel" class="panel panel-default slideDown" >
    <div class="panel-heading">
        <h4 class="panel-title">
            3. Select your appointment time
        </h4>
        <button id="confirm-button" type="button"><i class="fa fa-floppy-o"></i> Save</button>
    </div>
    <div class="panel-body">
        <div class="inner-well-padding">
        <div id="calendar"></div>
        </div>
    </div>
</div>