<div class="panel panel-primary slideDown" style="visiblity: hidden;">
    <div class="panel-heading"><h3><strong>3. Select your appointment time</strong></h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div id="cal"></div>
            </div>
            <div class="col-md-4">
                <p>Oct 31, 2014</p>
                <select multiple class="form-control">
                    {{#each this}}
                    <option value="{{id}}" class="list-group-item">{{start_time}}</option>
                    {{/each}}
                </ul>y                
            </div>
        </div>
	</div>
</div>
