

<div class="panel panel-default slideDown" >
    <div class="panel-heading">
        <h4 class="panel-title">
            3. Select your appointment time
        </h4>
    </div>
    <div class="panel-body">
        <div class="inner-well-padding">
<div class="row">
            <div class="col-md-8">
                <div id="cal"></div>
            </div>
            <div class="col-md-4">
                <p>Oct 31, 2014</p>
                <select multiple class="form-control">
                    {{#each this}}
                    <option value="{{id}}" class="list-group-item">{{start_time}}</option>
                    {{/each}}
                </ul>y
            </div>
        </div>
        </div>
    </div>
</div>